<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Велосмастерская</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-bookshelf" aria-hidden="true"></span> О нас
            </NavLink>
            <NavLink class="nav-link" href="bycicle" Match="NavLinkMatch.All">
                <span class="bi bi-bicycle" aria-hidden="true"></span> Велосипеды
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accessories">
                <span class="bi bi-headset-vr" aria-hidden="true"></span> Аксессуары
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SpareParts">
                <span class="bi bi-gear" aria-hidden="true"></span> Запчасти
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="Equipment">
                <span class="bi bi-shield-plus" aria-hidden="true"></span> Экипировка
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="scooter">
                <span class="bi bi-cart" aria-hidden="true"></span> Самокаты
            </NavLink>
        </div>
          <div class="nav-item px-3">
            <NavLink class="nav-link" href="Таблица">
                <span class="bi bi-cart" aria-hidden="true"></span> Таблицы
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
