@page "/accessories"

<h1><center>Аксессуары</center></h1>
<div class="container">
  <div class="row">
    <div class="col">
    <h3><center>Велоаптечки </center></h3>
     <center><img src="/images/велоаптечка.jpg" width="300" height="300"/></center>
     <h4><p>Велоаптечка – это та вещь, с которой должен быть знаком каждый велосипедист. Особенно, если прогулки на велосипеде становятся неотъемлемой частью в распорядке дня. Также она необходима при длительных поездках на дальние расстояния.</p></h4>
    </div> 
  </div>
</div>
