@page "/"



<h1><center>Веломастерская</center></h1>
 
<img src="Images/1.jpg" align="right" width="auto" height="auto" />

<h1>График работы:</h1> 

<h3>1.Пн. - с 10 до 18 часов</h3>
<h3>2.Вт.  - с 10 до 18 часов</h3>
<h3>3.Ср. - с 10 до 18 часов</h3> 
<h3>4.Чт.  - с 10 до 18 часов</h3> 
<h3>5.Пт.  - с 10 до 18 часов</h3>   
<h3>6.Сб. - с 10 до 17 часов</h3> 
<h3>7.Вс. - с 10 до 15 часов</h3> 
